<h1 class="col-xs-offset-3">Testing Area for building Real Estate tools! </h1>

<!-- API/Zillow Key: tzexxer7tc57ucwrf89w28wb -->
<!-- My Replication Area -->
<h1 class="col-xs-6 col-xs-offset-1 spacer">My Replication Area</h1>


<h1 class="col-xs-6 col-xs-offset-1 spacer">Trullia API Widgets</h1>
<div class="col-xs-6 col-xs-offset-2">
  <link rel="stylesheet" href="http://css.trulia-cdn.com/css/H14_27/css/pg_truliatool-generate.css">
  <div class="trulia_tool container600x300 map-search green" style="width: 596px; height: 300px;">
    <div class="trulia_tool_header">
      <h6>
        Search For Houses on the Market
      </h6>
    </div>
    <iframe src="http://synd.trulia.com/tools/map-search/embedded?params%5Blocation%5D=Fort+Collins%2C+CO&params%5BlocationId%5D=14847&params%5Bagent_id%5D=&params%5Bproperty_status%5D=for+sale&params%5Btitle%5D=Map+Search&params%5Bcolor%5D=green&params%5Bemail%5D=zjrubyhouse%40gmail.com&params%5Buser_url%5D=&params%5Bwidth%5D=600&params%5Bheight%5D=300&params%5Bguid%5D=553514ec92331" style="height: 235px; overflow: hidden;">
      <p>
        Your browser does not support iframes
      </p>
    </iframe>
    <div class="trulia_tool_footer">
      <div class="footer-link typeTruncate">
      </div>
      <a class="trulia-logo" href="http://www.trulia.com/" title="Trulia" alt="Trulia" target="_blank" rel="nofollow">
      </a>
    </div>
  </div>
</div>

<div class="col-xs-3">
  <div class="trulia_tool container180x250 home-finder green" style="width: 176px; height: 250px;">
    <div class="trulia_tool_header">
      <h6>
        Home Finder
      </h6>
    </div>
    <iframe src="http://synd.trulia.com/tools/home-finder/embedded?params%5Blocation%5D=Fort+Collins%2C+CO&params%5BlocationId%5D=14847&params%5Bcolor%5D=green&params%5Bemail%5D=&params%5Buser_url%5D=&params%5Btitle%5D=Home+Finder&params%5Bwidth%5D=180&params%5Bheight%5D=250&params%5Bguid%5D=55351ad3d863d" style="height: 185px; overflow: hidden;">
      <p>
        Your browser does not support iframes
      </p>
    </iframe>
    <div class="trulia_tool_footer">
      <div class="footer-link typeTruncate">
      </div>
      <a class="trulia-logo" href="http://www.trulia.com/" title="Trulia" alt="Trulia" target="_blank" rel="nofollow">
      </a>
    </div>
  </div>
</div>

<div class="col-xs-7 spacer col-xs-offset-1">

  <div class="trulia_tool container728x250 home-gallery green" style="width: 724px; height: 250px;">
    <div class="trulia_tool_header">
      <h6>
        Home Gallery
      </h6>
    </div>
    <iframe src="http://synd.trulia.com/tools/home-gallery/embedded?params%5Blocation%5D=Fort+Collins%2C+CO&params%5BlocationId%5D=14847&params%5Bmin_price%5D=&params%5Bmax_price%5D=&params%5Bnum_beds%5D=&params%5Bnum_baths%5D=&params%5Bagent_id%5D=&params%5Bspeed%5D=5000&params%5Btitle%5D=Home+Gallery&params%5Bcolor%5D=green&params%5Bemail%5D=&params%5Buser_url%5D=&params%5Bwidth%5D=728&params%5Bheight%5D=250&params%5Bguid%5D=553518376ec59&params%5Bslides_per_page%5D=8&city=Fort Collins&state_code=CO" style="height: 185px; overflow: hidden;">
      <p>
        Your browser does not support iframes
      </p>
    </iframe>
    <div class="trulia_tool_footer">
      <div class="footer-link typeTruncate">
      </div>
      <a class="trulia-logo" href="http://www.trulia.com/" title="Trulia" alt="Trulia" target="_blank" rel="nofollow">
      </a>
    </div>
  </div>
</div>

<div class="col-xs-3 spacer">

  <div class="trulia_tool container300x350 home-showcase green" style="width: 296px; height: 350px;">
    <div class="trulia_tool_header">
      <h6>
        Your Home Listings
      </h6>
    </div>
    <iframe src="http://synd.trulia.com/tools/home-showcase/embedded?params%5Blocation%5D=Fort+Collins%2C+CO&params%5BlocationId%5D=14847&params%5Bmin_price%5D=&params%5Bmax_price%5D=&params%5Bnum_beds%5D=&params%5Bnum_baths%5D=&params%5Bagent_id%5D=&params%5Bspeed%5D=5000&params%5Btitle%5D=Home+Showcase&params%5Bcolor%5D=green&params%5Bemail%5D=&params%5Buser_url%5D=&params%5Bwidth%5D=300&params%5Bheight%5D=350&params%5Bguid%5D=553516b99c70f" style="height: 285px; overflow: hidden;">
      <p>
        Your browser does not support iframes
      </p>
    </iframe>
    <div class="trulia_tool_footer">
      <div class="footer-link typeTruncate">
      </div>
      <a class="trulia-logo" href="http://www.trulia.com/" title="Trulia" alt="Trulia" target="_blank" rel="nofollow">
      </a>
    </div>
  </div>
</div>


<div class="col-xs-7 col-xs-offset-1 spacer">
  <div class="trulia_tool container600x300 market-monitor green" style="width: 596px; height: 300px;">
    <div class="trulia_tool_header">
      <h6>
        Market Monitor
      </h6>
    </div>
    <iframe src="http://synd.trulia.com/tools/market-monitor/embedded?params%5Blocation%5D=Fort+Collins%2C+CO&params%5BlocationId%5D=14847&params%5Blisting_price_type%5D=average&params%5Bshow_inventory%5D=1&params%5Btitle%5D=Market+Monitor&params%5Bcolor%5D=green&params%5Bemail%5D=&params%5Buser_url%5D=&params%5Bwidth%5D=600&params%5Bheight%5D=300&params%5Bguid%5D=55351c257d8ea" style="height: 235px; overflow: hidden;">
      <p>
        Your browser does not support iframes
      </p>
    </iframe>
    <div class="trulia_tool_footer">
      <div class="footer-link typeTruncate">
      </div>
      <a class="trulia-logo" href="http://www.trulia.com/" title="Trulia" alt="Trulia" target="_blank" rel="nofollow">
      </a>
    </div>
  </div>
</div>

<div class="col-xs-4 spacer">
  <div class="trulia_tool container300x350 rent-vs-buy-calculator green" style="width: 296px; height: 350px;">
    <div class="trulia_tool_header">
      <h6>
        Rent vs. Buy Calculator
      </h6>
    </div>
    <iframe src="http://synd.trulia.com/tools/rent-vs-buy-calculator/embedded?params%5Btool_metro_area%5D=19740&params%5Btitle%5D=Rent+vs.+Buy+Calculator&params%5Bcolor%5D=green&params%5Bemail%5D=&params%5Buser_url%5D=&params%5Bwidth%5D=300&params%5Bheight%5D=350&params%5Bguid%5D=553520ba4f9d9" style="height: 285px; overflow: hidden;">
      <p>
        Your browser does not support iframes
      </p>
    </iframe>
    <div class="trulia_tool_footer">
      <div class="footer-link typeTruncate">
      </div>
      <a class="trulia-logo" href="http://www.trulia.com/" title="Trulia" alt="Trulia" target="_blank" rel="nofollow">
      </a>
    </div>
  </div>
</div>

<div class="col-xs-7 col-xs-offset-1 spacer">
  <div class="trulia_tool container600x300 affordability-calculator green" style="width: 596px; height: 300px;">
    <div class="trulia_tool_header">
      <h6>
        Affordability Calculator
      </h6>
    </div>
    <iframe src="http://synd.trulia.com/tools/affordability-calculator/embedded?params%5Bcolor%5D=green&params%5Bemail%5D=&params%5Buser_url%5D=&params%5Btitle%5D=Affordability+Calculator&params%5Bwidth%5D=600&params%5Bheight%5D=300&params%5Bguid%5D=55351f353b514" style="height: 235px; overflow: hidden;">
      <p>
        Your browser does not support iframes
      </p>
    </iframe>
    <div class="trulia_tool_footer">
      <div class="footer-link typeTruncate">
      </div>
      <a class="trulia-logo" href="http://www.trulia.com/" title="Trulia" alt="Trulia" target="_blank" rel="nofollow">
      </a>
    </div>
  </div>
</div>

<div class="col-xs-4 spacer">
  <div class="trulia_tool container300x350 expert-community-advice green" style="width: 296px; height: 350px;">
    <div class="trulia_tool_header">
      <h6>
        Expert Community Advice
      </h6>
    </div>
    <iframe src="http://synd.trulia.com/tools/expert-community-advice/embedded?params%5Bwhose_answer%5D=&params%5Bdisplay_answers%5D=true&params%5Btitle%5D=Expert+Community+Advice&params%5Bcolor%5D=green&params%5Bemail%5D=&params%5Buser_url%5D=&params%5Bwidth%5D=300&params%5Bheight%5D=350&params%5Bguid%5D=553521ad33ceb" style="height: 285px; overflow: hidden;">
      <p>
        Your browser does not support iframes
      </p>
    </iframe>
    <div class="trulia_tool_footer">
      <div class="footer-link typeTruncate">
      </div>
      <a class="trulia-logo" href="http://www.trulia.com/" title="Trulia" alt="Trulia" target="_blank" rel="nofollow">
      </a>
    </div>
  </div>
</div>


<h1 class="col-xs-6 col-xs-offset-1 spacer">Testing Area for Zillow API </h1>

<div class="col-xs-4 col-xs-offset-3 spacer">
  <div style="width:367px;filter: progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction=135, Strength=2);">
    <div id="my-listings-no-picture" class="zillow-widget normalWidget" style="width:367px;overflow:hidden;background-color:#fff;border:1px solid #BBBBBB;border-bottom:none;-moz-box-shadow: 0 0 1px #888; -webkit-box-shadow: 0 0 1px #888;box-shadow: 0 0 1px #888;filter: progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction=315, Strength=1);line-height:13px;color:#555;font:normal normal normal 12px verdana,arial,sans-serif;text-align:left;text-transform:none;text-indent:0;letter-spacing:0;">
      <div id="title" style="margin:10px;overflow:hidden;border-bottom:1px solid #CCCCCC;padding-bottom:5px;">
        <div style="margin:0;height:16px;overflow:hidden;">
          <a href="http://www.zillow.com/profile/zjrubyhouse/" target="_blank" style="color:#36b;font-family:arial;font-size:13px;font-weight:bold;font-style:normal;padding:0;text-decoration:none;">
            House Listings
          </a>
        </div>
        <div class="business-name-container" style="height:16px;overflow:hidden;margin:3px 0 0;">
          <span style="font-family:arial;font-size:13px;font-weight:normal;color:#777;">

          </span>
        </div>
      </div>
      <iframe scrolling="no" src="http://www.zillow.com/widgets/profile/NewListingsWidget.htm?aid=X1-ZUxv9xvti6la89_8s1xy&newVersion=true&widgetFormat=normalWidget" width="367px" frameborder="0" style="display:block;" height="303px">
      </iframe>
      <div id="widget-footer" style="overflow:hidden;background-color:#F5F5F5;height:33px;">
        <div class="action-link-conatiner" style="overflow:hidden;margin:7px 0 5px 5px;">
          <span id="widgetFooterLink" style="vertical-align:top;">
            <a style="float:left;display:inline-block;font-size:11px;font-style:normal;font-weight:normal;text-decoration:none;color:#36B;cursor:pointer;@@__FOOTER_WRAP_STYLE__@@" href="http://www.zillow.com/seattle-wa/" target="_blank">
              <span class="region">
                Fort Collins
              </span>
            </a>
            <a href="http://www.zillow.com/" target="_blank" style="display:inline-block;text-decoration:none;float:right;margin-right:5px;">
              <img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/images/logo_zillow_45x10.png" alt="Zillow Real Estate" style="border:0 none;height:10px;width:45px;"/>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-4 spacer">
  <div style="width:367px;filter: progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction=135, Strength=2);">
    <div id="my-listings-no-picture" class="zillow-widget normalWidget" style="width:367px;overflow:hidden;background-color:#fff;border:1px solid #BBBBBB;border-bottom:none;-moz-box-shadow: 0 0 1px #888; -webkit-box-shadow: 0 0 1px #888;box-shadow: 0 0 1px #888;filter: progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction=315, Strength=1);line-height:13px;color:#555;font:normal normal normal 12px verdana,arial,sans-serif;text-align:left;text-transform:none;text-indent:0;letter-spacing:0;">
      <div id="title" style="margin:10px;overflow:hidden;border-bottom:1px solid #CCCCCC;padding-bottom:5px;">
        <div style="margin:0;height:16px;overflow:hidden;">
          <a href="http://www.zillow.com/profile/zjrubyhouse/" target="_blank" style="color:#36b;font-family:arial;font-size:13px;font-weight:bold;font-style:normal;padding:0;text-decoration:none;">
            Past Sales
          </a>
        </div>
        <div class="business-name-container" style="height:16px;overflow:hidden;margin:3px 0 0;">
          <span style="font-family:arial;font-size:13px;font-weight:normal;color:#777;">

          </span>
        </div>
      </div>
      <iframe scrolling="no" src="http://www.zillow.com/widgets/profile/PastSalesListingWidget.htm?aid=X1-ZUxv9xvti6la89_8s1xy&newVersion=true&widgetFormat=normalWidget" width="367px" frameborder="0" style="display:block;" height="303px">
      </iframe>
      <div id="widget-footer" style="overflow:hidden;background-color:#F5F5F5;height:33px;">
        <div class="action-link-conatiner" style="overflow:hidden;margin:7px 0 5px 5px;">
          <span id="widgetFooterLink" style="vertical-align:top;">
            <a style="float:left;display:inline-block;font-size:11px;font-style:normal;font-weight:normal;text-decoration:none;color:#36B;cursor:pointer;@@__FOOTER_WRAP_STYLE__@@" href="http://www.zillow.com/seattle-wa/" target="_blank">
              Zillow
            </a>
            <a href="http://www.zillow.com/" target="_blank" style="display:inline-block;text-decoration:none;float:right;margin-right:5px;">
              <img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/images/logo_zillow_45x10.png" alt="Zillow Real Estate" style="border:0 none;height:10px;width:45px;"/>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-5 col-xs-offset-2 spacer">
  <div id="large-rate-table-iframe-widget-container" style="width:308px;border: 1px solid #bfbfbf;padding:12px;margin:0 auto;font:normal normal normal 8pt verdana,arial,sans-serif;text-transform:none;text-indent:0;line-height:13px;background-color:#fff;letter-spacing:0;color: #555;overflow:hidden;text-align:center;box-sizing:content-box;">
    <div id="title" style="margin:5px 0 12px;text-align:left;">
      <h1 style="padding-top:0px;text-align:left;font-family: Arial,verdana,sans-serif;margin:0">
        <a href="http://www.zillow.com/mortgage-rates/" target="_blank" style="color:#000;font-style:normal;font-weight:bold;font-size:20px;padding:0;text-decoration:none;">
          Zillow Mortgage Marketplace
        </a>
      </h1>
    </div>
    <iframe src="http://www.zillow.com/webtools/widgets/RateTableDistributionWidget.htm?mp=RD-FLNVMXZ&" width="306" height="215" frameborder="0" scrolling="no" style="display:block;">
    </iframe>
  </div>
</div>

<div class="col-xs-3 spacer">
  <div id="zillow-contact-form-large-widget" style="width:300px;height:auto;border:0px none;padding:0px;margin:0 auto;font:normal normal normal 10px verdana,arial,sans-serif;text-transform:none;text-indent:0px;line-height:13px;background-color:#ffffff;letter-spacing:0px;color:#999999;overflow:hidden;text-align:center;">
    <div style="width:298px;overflow:hidden;text-align:center;background-color:#bbbbbb;border:1px solid #dddddd;border-bottom-width:0;box-sizing: content-box;">
      <div style="color:#ffffff;font-size:15px;font-weight:bold;padding:6px 3px;">
        Contact Me
      </div>
    </div>
    <div style="width:298px;overflow:hidden;text-align:left;background-color:#ffffff;border:1px solid #dddddd;border-width:0 1px;font-weight:normal;color:#000000;box-sizing: content-box;">
      <div style="padding:5px 3px 3px;">
        Interested in selling your home? Contact me to get a professional estimate.
      </div>
      <div style="margin-top:5px;padding:3px 3px 10px 3px;">
        <div style="display:inline-block;line-height:16px;">
          <div style="font-weight:bold;font-size:15px;">
            Zachary Jones
          </div>
          <div style="font-weight:normal;margin-top:3px;font-size:14px;">
            Call: 253-219-5510
          </div>
        </div>
      </div>
    </div>
    <div style="width:298px;height:255px;padding-top:7px;border:1px solid #dddddd;border-width:0 1px;overflow:hidden;box-sizing: content-box;">
      <iframe scrolling="no" src="http://www.zillow.com/widgets/contact/ContactFormWidget.htm?email=zjrubyhouse%40gmail.com&size=wide" width="298" frameborder="0" style="display:block;" height="248">
      </iframe>
    </div>
    <div style="width:298px;overflow:hidden;border:1px solid #dddddd;border-top-width:0;background-color:#bbbbbb;box-sizing: content-box;">
      <div style="margin:5px auto;color:#ffffff;font-size:11px;">
        <span id="widgetFooterLink" class="regionBasedLink">
          <a style="font-size:11px;font-style:normal;font-weight:normal;text-decoration:none;color:#ffffff;cursor:pointer;" href="http://www.zillow.com/fort-collins-co/rentals/" target="_blank">
            <span class="region">
              <span class="region">
                Fort Collins
              </span>
              on Zillow
            </span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-3 col-xs-offset-3 spacer">
  <div id="rate-table-with-graph-iframe-widget-container" style="width:308px;border: 1px solid #bfbfbf;padding:12px;margin:0 auto;font:normal normal normal 8pt verdana,arial,sans-serif;text-transform:none;text-indent:0;line-height:13px;background-color:#fff;letter-spacing:0;color: #555;overflow:hidden;text-align:center;box-sizing:content-box;">
    <div id="title" style="margin:5px 0 12px;text-align:left;">
      <h1 style="padding-top:0px;text-align:left;font-family: Arial,verdana,sans-serif;margin:0">
        <a href="http://www.zillow.com/mortgage-rates/" target="_blank" style="color:#000;font-style:normal;font-weight:bold;font-size:20px;padding:0;text-decoration:none;">
          Zillow Mortgage
        </a>
      </h1>
    </div>
    <iframe src="http://www.zillow.com/webtools/widgets/RateTableAndGraphDistributionWidget.htm?mp=RD-FLNVMXZ&" width="306" height="315" frameborder="0" scrolling="no" style="display:block;">
    </iframe>
  </div>
</div>

<div class="col-xs-4 spacer">
  <div style="margin: 0 auto;width:178px;height:343px;overflow:hidden;text-align:center;font-family:verdana,arial,sans-serif;font-size:8pt;line-height:13x;background-color:#ccc;letter-spacing:0;text-transform:none;">
    <div style="margin:6px 0;">
      <a href="http://www.zillow.com/mortgage-calculator/" target="_blank" style="font-size:8pt;text-decoration:none;font-weight:bold;color:#fff;cursor: pointer;display: block;text-align: center;" title="Mortgage Calculators on Zillow">
        Mortgage Calculator
      </a>
    </div>
    <div style="width:176px;height:298px;margin:0;background-color:#fff;border:1px solid #ccc;border-width:0 1px;text-align:left; font-size:8pt;">
      <iframe scrolling="no" src="http://www.zillow.com/mortgage/MortgageLoanCalculatorWidget.htm?skin=custom&price=400000&rid=102001&textcolor=555" width="176" frameborder="0" style="float:left;" title="Mortgage Calculator" height="298px">
      </iframe>
      <div style="clear:both;">
      </div>
    </div>
    <div style="width:178px;height:20px;">
      <span style="display:block;margin:0 auto;font-size:7pt;height:15px;width:178px;color:#fff;padding-top:2px;">
        <a href="http://www.zillow.com/mortgage-rates/" target="_blank" style="text-decoration:none;color:#fff;" title="Zillow Mortgages">
          Zillow
        </a>
      </span>
    </div>
  </div>
</div>

<div class="col-xs-7 spacer">
  <div style="width:192px;overflow:hidden;margin: 0 auto;text-align:center;font-family:verdana,arial,sans-serif;font-size:8pt;line-height:13x;background-color:#dbdbdb;letter-spacing:0;text-transform:none;border-radius: 5px;webkit-border-radius:5px;" id="verticalWidget">
    <div style="margin:6px 0;">
      <a href="http://www.zillow.com/mortgage-calculator/" target="_blank" style="font-family:Arial;font-size:15px;text-decoration:none;font-weight:bold;color:#fff;cursor: pointer;display: block;text-align: center;text-shadow: 0 1px #fff;" title="Mortgage Calculators on Zillow">
        Estimate Payment
      </a>
    </div>
    <div style="width:176px;margin:0 auto;background-color:#f4f4f4;text-align:left; font-size:8pt;border-radius: 5px; border: 1px solid;border-color:#cccccc;webkit-border-radius: 5px;padding: 0 1px;">
      <iframe scrolling="no" src="http://www.zillow.com/mortgage/SmallMortgageLoanCalculatorWidget.htm?price=400000&wtype=spc&rid=102001&wsize=small&textcolor=666666&backgroundColor=f4f4f4&advTabColor=9b9b9b&bgcolor=dbdbdb&bgtextcolor=fff&headerTextShadow=fff&widgetOrientationType=verticalWidget" width="176px" frameborder="0" style="float:left;" title="Mortgage Calculator" height="470px">
      </iframe>
      <div style="clear:both;">
      </div>
    </div>
    <div style="height:20px;">
      <span style="display:block;margin:0 auto;font-size:7pt;height:15px;width:178px;color:#fff;padding-top:2px;">
        <a href="http://www.zillow.com/mortgage-rates/" target="_blank" style="text-decoration:none;color:#3366bb;font-weight:normal;font-family:verdana,arial,sans-serif;font-size:7pt;color:#fff;" title="Zillow Mortgages">
          Zillow Mortgage Calculator
        </a>
      </span>
    </div>
  </div>
</div>

<div class="col-xs-1 spacer">
  <div style="box-sizing: content-box;width:300px;height:auto;padding:0 6px;margin:1em auto;font:normal normal normal 13px verdana,arial,sans-serif;overflow: hidden;background-color:#dbdbdb;border-radius: 5px;webkit-border-radius:5px;text-transform:none;text-indent:0;letter-spacing:0;text-align:center;">
    <div id="title" style="text-align:center;padding:6px 5px 6px 5px;background-color:#dbdbdb;">
      <a href="http://www.zillow.com/whittier-minneapolis-mn/home-values/#{scrnnm=zjrubyhouse}" target="_blank" style="font-weight:bold;font-style:normal;font-size:13px;padding:0;text-decoration:none;color:#666666;text-decoration:none;line-height:1.2em;text-shadow: 0 1px #fff;">
        Home Value Estimate
      </a>
    </div>
    <div style="position:relative;text-align:center;font-family:verdana,arial,sans-serif;font-size:10px;background-color:#f4f4f4;border-radius: 5px; border: 1px solid;border-color:#cccccc;webkit-border-radius: 5px;padding: 1px;">
      <iframe scrolling="no" src="http://www.zillow.com/widgets/zestimate/ZestimateLargeWidget.htm?did=zillow-shv-large-iframe-widget&type=iframe&address=2219+Pillsbury+Ave+S+APT+6%2C+Minneapolis%2C+MN+55404&searchbox=yes&region=Whittier&skinnyWidget=true&tc=666666&bgc=f4f4f4" width="296" frameborder="0" height="360">
      </iframe>
    </div>
    <div id="footer-links-container" style="height:auto;padding-bottom:5px;margin:5px 5px 0;text-align:center;">
      <div style="height:auto;display:block;overflow:hidden;">
        <a href="http://www.zillow.com/whittier-minneapolis-mn/#{scrnnm=zjrubyhouse}" target="_blank" style="font-size:11px;padding:0;width:285px;color:#666666;text-decoration:none;" scen="s1">
          <span class="region">
            Whittier
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-7 spacer">
  <div class="zillow-widget regional-home-values" style="box-sizing: content-box;width:290px;height:345px;background:#dbdbdb;padding:0 6px;margin:1em auto;font: normal normal normal 8pt verdana,arial,sans-serif;line-height: 13px;border-radius: 5px;webkit-border-radius:5px;">
    <div style="width:286px;padding:7px 0;text-align:center;">
      <a pageType="GEO_FACTS" absolute="true" style="display:block;font-weight:bold;font-size:12px;color:#666666;text-decoration:none;line-height:1.2em;text-shadow: 0 1px #fff;" href="http://www.zillow.com/local-info/CO-Fort-Collins/r_4764?#{scrnnm=zjrubyhouse}" class="widget-header" target="_blank">
        <span class="region">
          Fort Collins
        </span>
        Real Estate Statistics
      </a>
    </div>
    <div style="width:286px;height:280px;text-align:center;font-family:verdana,arial,sans-serif;font-size:10px;background-color:#f4f4f4;border-radius: 5px; border: 1px solid;border-color:#cccccc;webkit-border-radius: 5px;padding: 1px;">
      <iframe scrolling="no" src="http://www.zillow.com/widgets/geo/RegionalStatsWidget.htm?cs=3&did=rsw-wide&dys=2&mt=34&rid=4764&sid=102001&type=iframe&wtype=rhv&skinnyWidget=true&textcolor=666666&backgroundColor=f4f4f4" width="286" frameborder="0" height="280">
      </iframe>
    </div>
    <div style="width:286px;float:left;margin:0;padding:4px 0 0;">
      <div style="font-size:11px;text-align:center;margin:2px 0;padding:0;line-height:1.2em;">
        <div style="#position:relative;height:15px;">
          <div style="#position:absolute;#top:50%;vertical-align:middle;">
            <div style="#position:relative;#top:-50%;#left:-50%;">
              <span id="widgetFooterLink" class="regionBasedLink">
                <a href="http://www.zillow.com/fort-collins-co/" target="_blank" style="color:#666666;font-size:8pt;font-weight:normal;font-style:normal;text-decoration:none;">
                  <span class="region">
                    Fort Collins
                  </span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-3">
  <div style="margin:0 auto;box-sizing: content-box;width:300px;height:auto;padding:0 6px;font:normal normal normal 13px verdana,arial,sans-serif;overflow: hidden;background-color:#dbdbdb;border-radius: 5px;webkit-border-radius:5px;text-transform:none;text-indent:0;letter-spacing:0;text-align:center;">
    <div id="title" style="padding:6px 5px 6px 5px;background-color:#dbdbdb;">
      <a href="http://www.zillow.com/seattle-wa/home-values/#{scrnnm=zjrubyhouse}" target="_blank" style="font-weight:bold;font-style:normal;font-size:13px;padding:0;text-decoration:none;color:#666666;text-decoration:none;line-height:1.2em;text-shadow: 0 1px #fff;">
        Rental Value Estimate
      </a>
    </div>
    <div style="position:relative;text-align:center;font-family:verdana,arial,sans-serif;font-size:10px;background-color:#f4f4f4;border-radius: 5px; border: 1px solid;border-color:#cccccc;webkit-border-radius: 5px;padding: 1px;">
      <iframe scrolling="no" src="http://www.zillow.com/widgets/zestimate/ZestimateLargeWidget.htm?did=zillow-shv-large-iframe-widget&type=iframe&forRent=true&tc=666666&bgc=f4f4f4&address=7655+Latona+Ave+NE+Seattle%2C+WA+98115&searchbox=yes&region=Seattle&skinnyWidget=true" width="296" frameborder="0" height="360">
      </iframe>
    </div>
    <div id="footer-links-container" style="text-align:center;padding:3px 0;height:auto;padding-bottom:5px;">
      <div style="overflow:hidden;display:vertical-align:middle;height:auto;display:block;">
        <span id="widgetFooterLink">
          <a href="http://www.zillow.com/seattle-wa/rentals/" target="_blank" style="font-size:11px;padding:0;color:#666666;text-decoration:none;">
            Rent in
            <span class="region">
              Seattle
            </span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>


<div class="col-xs-6 spacer">
  <div id="zillow-large-search-box-widget-container" style="width:432px;overflow:hidden;background-color:#e7f1fd;color:#555; font: normal normal normal 13px verdana,arial,sans-serif;line-height:13px;margin:0 auto;padding:0;text-align:center;border:1px solid #adcfff;letter-spacing:0;text-transform:none;">
    <h2 style="color:#d61;text-align:left;font-size:20px;line-height:20px;font-weight:normal;float:left;width:200px;margin-left:10px;margin-top:5px;letter-spacing:0;text-transform:none;">
      Find Homes
    </h2>
    <div style="float:right;">
      <a href="http://www.zillow.com/#{scrnnm=zjrubyhouse}" target="_blank">
        <img style="border:0;" src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=%2Fstatic%2Fimages%2Fpowered-by-zillow.gif" alt="Zillow Real Estate Information"/>
      </a>
    </div>
    <iframe scrolling="no" src="http://www.zillow.com/widgets/search/LargeSearchBoxWidget.htm?did=zillow-large-search-box-iframe-widget&scrnname=zjrubyhouse&type=iframe&rgname=Fort+Collins+CO&shvi=yes" width="430" frameborder="0" height="400">
    </iframe>
    <table id="zillow-tnc-widget-footer-links" width="100%" style="font: normal normal normal 10px verdana,arial,sans-serif;text-align:left;line-height:12px;margin:10px 5px;padding:0;border-spacing:0;border-collapse:collapse;">
      <tbody style="margin:0;padding:0;">
        <tr style="margin:0;padding:0;">
          <td style="font-weight:bold;font-size:10px;color:#555;text-align:left;margin:0;padding:0;">
            QUICK LINKS:
          </td>
        </tr>
        <tr style="margin:0;padding:0;">
          <td style="margin:0;padding:0;">
            <span id="widgetFooterLink" class="regionBasedLink">
              <a href="http://www.zillow.com/fort-collins-co/" target="_blank" style="color:#36b;font-family:verdana,arial,sans-serif;font-size:10px;margin:0 5px 0 0;padding:0;text-decoration:none;">
                <span class="region">
                  Fort Collins
                </span>
                Real Estate Listing
              </a>
            </span>
          </td>
          <td style="margin:0;padding:0;">
            <span id="widgetFooterLink">
              <a href="http://www.zillow.com/mortgage-rates/" target="_blank" style="color:#36b;font-family:verdana,arial,sans-serif;font-size:10px;margin:0 5px 0 0;padding:0;text-decoration:none;">
                Mortgage Rates
              </a>
            </span>
          </td>
          <td style="margin:0;padding:0;">
            <span id="widgetFooterLink">
              <a href="http://www.zillow.com/refinance/" target="_blank" style="color:#36b;font-family:verdana,arial,sans-serif;font-size:10px;margin:0 5px 0 0;padding:0;text-decoration:none;">
                Refinancing
              </a>
            </span>
          </td>
        </tr>
        <tr style="margin:0;padding:0;">
          <td style="margin:0;padding:0;">
            <span id="widgetFooterLink" class="regionBasedLink">
              <a href="http://www.zillow.com/fort-collins-co/foreclosures/" target="_blank" style="color:#36b;font-size:10px;margin:0 5px 0 0;padding:0;text-decoration:none;">
                <span class="region">
                  Fort Collins
                </span>
                Foreclosures
              </a>
            </span>
          </td>
          <td style="margin:0;padding:0;">
            <span id="widgetFooterLink">
              <a href="http://www.zillow.com/mortgage-calculator/" target="_blank" style="color:#36b;font-size:10px;margin:0 5px 0 0;padding:0;text-decoration:none;">
                Mortgage Calculators
              </a>
            </span>
          </td>
          <td style="margin:0;padding:0;">
            <span id="widgetFooterLink">
              <a href="http://www.zillow.com/mortgage-rates/" target="_blank" style="color:#36b;font-size:10px;margin:0 5px 0 0;padding:0;text-decoration:none;">
                Purchase Loans
              </a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-xs-4 spacer">
  <div style="width:298px; height: 198px; background-color:#eff3ff; color: #555; font: normal normal normal 8pt verdana,arial,sans-serif;line-height: 13px;margin: 0 auto;padding: 0;overflow: hidden;text-align: center;border: 1px solid #adcfff;">
    <div style="width:298px;height:29px;overflow:hidden;">
      <h5 style="font-size: 9pt;margin: 8px 5px;width: 288px;height: 13px; color: #3366bb;display: block;text-align: center;font-weight:bold;">
        Most Expensive Homes in
        <span class='region'>
          Fort Collins
        </span>
      </h5>
    </div>
    <iframe scrolling="no" src="http://www.zillow.com/widgets/fmr/FMRWidget.htm?did=meh-large-iframe-widget-container&type=iframe&size=wide&rn=Fort+Collins+CO&widgettype=meh&=" width="287" frameborder="0" height="121">
    </iframe>
    <div style="width:286px;margin:6px auto 0;">
      <div style="float:left;line-height:11px;margin:0 5px 0 10px;width:92px;">
        <div>
          <span id="widgetFooterLink">
            <a href="http://www.zillow.com/" target="_blank" style="height:17px;text-align:left;font-style:normal;font-weight:normal;display:inline-block;" title="Zillow real estate">
              <img alt="Zillow real estate" src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/images/logo_zillow_small.gif" style="border: 0;"/>
            </a>
          </span>
        </div>
        <div>
          <span id="widgetFooterLink">
            <a href="http://www.zillow.com/webtools/widgets/MostExpensiveHomes.htm" target="_blank" style="color:gray;display:inline-block;font-weight:normal;font-style:normal;font-size:7pt;text-align:center;text-decoration:none;">
              Get this widget
            </a>
          </span>
        </div>
      </div>
      <div style="float:right;width:179px;">
        <span id="widgetFooterLink" class="regionBasedLink">
          <a href="http://www.zillow.com/fort-collins-co/" target="_blank" style="font-weight:normal;font-style:normal;font-size:11px;height:28px;display:inline-block;padding:0;color:#3366bb;text-decoration:underline;">
            <span class="region">
              Fort Collins
            </span>
            on Zillow
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-4 spacer">
  <div style="width:298px;height:298px;margin: 0 auto;border:1px solid #adaaad;background-color:#f4f4f4;box-shadow:inset -2px -2px 7px rgba(0,0,0,0.16);-moz-box-shadow: inset -2px -2px 7px rgba(0,0,0,0.16);-webkit-box-shadow: inset 2px 2px 7px rgba(0,0,0,0.16);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;overflow:hidden;box-sizing:content-box;">
      <iframe src="http://www.zillow.com/widgets/search/PartnerAdWidget.htm?ulbm=false&isPublic=true&bucket=map&pn=zjrubyhouse&rid=4764&style=default" marginwidth="0" scrolling="no" vspace="0" noresize="true" width="298" allowtransparency="true" frameborder="0" style="border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;" marginheight="0" hspace="0" height="272">
        Your browser doesn't support frames. Please visit
      </iframe>
      <div style="margin:2px 10px 0;overflow:hidden;text-align:left;">
        <span id="widgetFooterLink" class="regionBasedLink">
          <a href="http://www.zillow.com/fort-collins-co/" target="_blank" style="font-size:11px; display:inline;width:222px;float:left;text-decoration:none;color:#999;font-family:arial;font-weight:normal;">
            <SPAN CLASS="REGION">
              FORT COLLINS
            </SPAN>
            ON ZILLOW
          </a>
        </span>
        <span id="widgetFooterLink">
          <a href="http://www.zillow.com/" target="_blank" style="display:block;float:right;text-decoration:none;width:56px;height:15px;">
            <img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/images/logo_zillow_56x15.png" style="display:block;border:0 none;width:56px;height:15px;padding:0;" alt="Homes for Sale - Zillow">
          </img>
        </a>
      </span>
    </div>
  </div>
</div>


<div class="col-xs-12 spacer">
  <div style="width:688px;height:752px;background-color: #ccc;font: normal normal normal 8pt verdana,arial,sans-serif;line-height: 13px;margin: 0 auto;padding: 0;overflow: hidden;text-align: center;border: 1px solid #ccc;">
      <div style="height:25px;overflow:hidden;color:#fff;">
          <h5 style="margin:6px 5px 7px;font-size:11px;color: #fff;display: block;text-align: center;font-weight: bold;">Monthly Payment Calculator</h5></div>
      <iframe scrolling="no" src="http://www.zillow.com/mortgage/MortgageCalculatorWidgetLarge.htm?homePrice=400000&ezuid=X1-ZUxv9xvti6la89_8s1xy" width="688px" frameborder="0" height="700px"></iframe>
      <div style="height:25px;border:1px solid #ccc;border:0px none;border-top: 0px none;text-align:center;overflow:hidden;">
          <div style="margin:6px 5px 7px;color:#fff;"><a href="http://www.zillow.com/mortgage-calculator/" target="_blank" style="font-size:11px;font-weight:normal;text-decoration:none;color: #fff;" title="Mortgage calculator on Zillow">Zillow Home Loan Calculator</a></div>
      </div>
  </div>
</div>

<div class="col-xs-12 spacer">
  <div style="width:688px;height:752px;background-color: #ccc;font: normal normal normal 8pt verdana,arial,sans-serif;line-height: 13px;margin: 0 auto;padding: 0;overflow: hidden;text-align: center;border: 1px solid #ccc;">
      <div style="height:25px;overflow:hidden;color:#fff;">
          <h5 style="line-height:0;margin:6px 5px 7px;color: #fff;display: block;text-align: center;"><a href="http://www.zillow.com/mortgage-calculator/house-affordability/" target="_blank" style="font: normal normal bold 11px verdana,arial,sans-serif;line-height: 13px;text-decoration:none;color: #fff;" title="How Much House Can I Afford?">How Much House Can I Afford?</a></h5></div>
      <iframe scrolling="no" src="http://www.zillow.com/mortgage/widgets/AffordabilityCalculatorWidget.htm?inc=75000&ezuid=X1-ZUxv9xvti6la89_8s1xy" width="688px" frameborder="0" height="700px"></iframe>
      <div style="height:25px;border:1px solid #ccc;border:0px none;border-top: 0px none;text-align:center;overflow:hidden;">
          <div style="margin:6px 5px 7px;color:#fff;"><a href="http://www.zillow.com/mortgage-calculator/" target="_blank" style="font: normal normal normal 11px verdana,arial,sans-serif;line-height: 13px;text-decoration:none;color: #fff;" title="Mortgage calculator">How much can you afford?</a></div>
      </div>
  </div>
</div>
