<h1 class="col-xs-offset-4">Hello, this is my 2nd D3 test area=3</h1>
  <div class="col-xs-12">
    <span>

      <div id="D3lines"></div>
    </span>
  </div>

  <!-- <img src="/assets/images/sky_bg.png"/> -->

<script>

// Select the DIV container "D3line" then
// add an SVG element to it

var width = 400;
var height = 400;

var lineGraph = d3.select("#D3lines")
  .append("svg:svg")
    d3.select("#D3lines").attr("background-image", "url(/assets/images/sky_bg.png)")
  .attr("width", width)
  .attr("height", height);

// To draw a line use the "svg:line" element.
// "svg:line" element requires 4 attributes (x1, y1, x2, and y2)
// (x1,y1) are coordinates of the starting point.
// (x2,y2) are coordinates of the end point.
// You also need to specify the stroke color.

// Using for loop to draw multiple horizontal lines
for (var j=25; j <= width-25; j=j+25) {
  lineGraph.append("svg:line")
      .attr("x1", 25)
      .attr("y1", j)
      .attr("x2", width-25)
      .attr("y2", j)
      .style("stroke", "rgb(6,120,155)")
      .style("stroke-width", 2);
};

// Using for loop to draw multiple vertical lines
for (var j=25; j <= height-25; j=j+25) {
  lineGraph.append("svg:line")
      .attr("x1", j)
      .attr("y1", 25)
      .attr("x2", j)
      .attr("y2", height-25)
      .style("stroke", "rgb(6,120,155)")
      .style("stroke-width", 2);
};


  // var canvas =d3.select("body").append("svg")
  //   .attr("width", 500)
  //   .attr("height", 500);
  //
  // var group = canvas.append("g")
  //     .attr("transform", "translate(100, 100)");
  //
  // var arc = d3.svg.arc()
  //   .innerRadius
  //   .outerRadius
  //   .startAngle
  //   .endAngle
  //
  // group.append("path")
  //     .attr("d", arc)

  // BASIC LINE DRAWING
  // var canvas = d3.select("body").append("svg")
  //   .attr("width", 500)
  //   .attr("height", 500)
  //
  // var data = [
  //   {x: 10, y: 20},
  //   {x: 40, y: 60},
  //   {x: 50, y: 70},
  //   {x: 80, y: 90},
  //   {x: 100, y: 90},
  //   {x: 120, y: 90},
  //   {x: 130, y: 80},
  //   {x: 140, y: 70},
  //   {x: 160, y: 60}
  // ];
  //
  // var group = canvas.append("g")
  //   .attr("transform", "translate(100, 100)");
  //
  // var line = d3.svg.line()
  //     .x(function(d){ return d.x; })
  //     .y(function(d){ return d.y; });
  //
  // group.selectAll("path")
  //   .data([data])
  //   .enter()
  //   .append("path")
  //   .attr("d", line)
  //   .attr("fill", "none")
  //   .attr("stroke", "#000")
  //   .attr("stroke-width", 10);

  //  SIMPLE LOADING DATA EXTERNALLY
  // d3.json("/assets/d3/mydata.json", function (data){
  //
  //   var canvas = d3.select("body").append("svg")
  //     .attr("width", 500)
  //     .attr("height", 500)
  //
  //     canvas.selectAll("rect")
  //       .data(data)
  //       .enter()
  //         .append("rect")
  //         .attr("width", function(d) { return d.age + 10; })
  //         .attr("height", 48)
  //         .attr("y", function (d, i) { return i * 50; })
  //         .attr("fill", "green")
  //
  //
  //     canvas.selectAll("text")
  //           .data(data)
  //           .enter()
  //             .append("text")
  //             .attr("fill", "black")
  //             .attr("y", function (d, i) { return i * 50 + 24; })
  //             .text(function(d) { return d.name; })
  // })


  //BASIC CIRCLE MANIPULATION
  // var data = [10, 20, 30, 40, 50];
  //
  // var canvas = d3.select("body")
  //     .append("svg")
  //     .attr("width", 500)
  //     .attr("height", 500);
  //
  // var circle = canvas.append("circle")
  //       .attr("cx", 50)
  //       .attr("cy", 100)
  //       .attr("r", 25);


  // SIMPLE TRANSITIONS
  // circle.transition()
  //         .duration(1500)
  //         .attr("cx", 150)
  //         .each("end", function(){ d3.select(this).attr("fill", "green") });



  // SHOWING UPDATE AND EXIT
  //       var circle2 = canvas.append("circle")
  //             .attr("cx", 50)
  //             .attr("cy", 200)
  //             .attr("r", 25)
  //
  // var circles = canvas.selectAll("circle")
  // .data(data)
  //   .attr("fill", "green")
  //   .exit()
  //     .attr("fill", "blue");


</script>
